<!-- components/header.html -->
<header class="bg-white dark:bg-slate-800 text-primaryText">
    <div class="border-b-2 border-primaryBorder">
    <div class="container max-w-screen-xl mx-auto py-6 px-4 flex justify-between items-center">
        <form class="relative">
            <input type="search" placeholder="Поиск"
                class="w-64 h-12 bg-white border-2 rounded-3xl border-solid border-primaryBorder pl-10" style="--placeholder-padding-left: 10px;">
            <img src="../src/img/svg/ic_search.svg" alt="icon search" class="absolute top-1/2 left-3 -translate-y-1/2 w-7 h-7">
        </form>

        
            <img src="../src/img/svg/logo.svg" alt="logo" style="margin-left: 130px;">
        


        <ul class="flex">
            <li class=" group flex mr-6 hover:text-accentText transition  ease-in-out">
                <a class="flex items-center" href="#">
                    <svg class="mr-2 text-primaryIcon group-hover:text-red-500" alt="Favorite" width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="currentColor" clip-rule="none" d="M15 25.35L13.55 24.03C8.4 19.36 5 16.28 5 12.5C5 9.42 7.42 7 10.5 7C12.24 7 13.91 7.81 15 9.09C16.09 7.81 17.76 7 19.5 7C22.58 7 25 9.42 25 12.5C25 16.28 21.6 19.36 16.45 24.04L15 25.35V25.35Z" fill="currentColor"/>
                        <mask id="mask0_0_211" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="7" width="20" height="19">
                        <path fill-rule="currentColor" clip-rule="none" d="M15 25.35L13.55 24.03C8.4 19.36 5 16.28 5 12.5C5 9.42 7.42 7 10.5 7C12.24 7 13.91 7.81 15 9.09C16.09 7.81 17.76 7 19.5 7C22.58 7 25 9.42 25 12.5C25 16.28 21.6 19.36 16.45 24.04L15 25.35V25.35Z" fill="currentColor"/>
                        </mask>
                        </svg>
                    Избраное
                </a>
            </li>
            <li class="group flex mr-6 hover:text-accentText transition  ease-in-out">
                <a class="flex items-center" href="#">
                    <img class="mr-2  text-primaryIcon group-hover:accentText" src="../src/img/svg/Compare.svg" alt="Compare">
                    <svg class="mr-2 text-primaryIcon group-hover:text-red-500" alt="Favorite" width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="currentColor" clip-rule="none" d="M15 25.35L13.55 24.03C8.4 19.36 5 16.28 5 12.5C5 9.42 7.42 7 10.5 7C12.24 7 13.91 7.81 15 9.09C16.09 7.81 17.76 7 19.5 7C22.58 7 25 9.42 25 12.5C25 16.28 21.6 19.36 16.45 24.04L15 25.35V25.35Z" fill="currentColor"/>
                        <mask id="mask0_0_211" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="7" width="20" height="19">
                        <path fill-rule="currentColor" clip-rule="none" d="M15 25.35L13.55 24.03C8.4 19.36 5 16.28 5 12.5C5 9.42 7.42 7 10.5 7C12.24 7 13.91 7.81 15 9.09C16.09 7.81 17.76 7 19.5 7C22.58 7 25 9.42 25 12.5C25 16.28 21.6 19.36 16.45 24.04L15 25.35V25.35Z" fill="currentColor"/>
                        </mask>
                        </svg>
                    Сравнить
                </a>
            </li>
            <li class="group flex mr-6 hover:text-accentText transition  ease-in-out">
                <a class="flex items-center" href="#">
                    <img class="mr-2" src="../src/img/svg/Cart.svg" alt="Cart">
                    Карзина
                </a>
            </li>
            <li class="group flex hover:text-accentText transition  ease-in-out">
                <a class="flex items-center" href="#">
                    <img src="../src/img/svg/avatar.svg" alt="User">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="flex py-5 px-4  border-b-2 border-primaryBorder justify-center">
<ul class="flex">
    <li class="mr-10">
        <a href="#">Electronics</a>
    </li>
    <li class="mr-10">
        <a href="#">Appliances</a>
    </li>
    <li class="mr-10">
        <a href="#">Childen's goods</a>
    </li>
    <li class="mr-10">
        <a href="#">Repairs</a>
    </li>
    <li class="mr-10">
        <a href="#">Сlothes</a>
    </li>
    <li class="mr-10">
        <a href="#">Footwear</a>
    </li>
    <li class="">
        <a href="#">Beauty</a>
    </li>
</ul>
</div>

</header>