<div class="grid grid-cols-4 gap-8">

    <div class="flex flex-col items-center bg-white">
        <div class="my-3">
            <p>Recommend</p>
        </div>
        <div class=" flex flex-col items-center w-full  py-6 border-y-2 border-solid border-primaryBorder ">
            <div class="flex flex-col items-center">
                <a href="#">
                    <img src="./src/img/product.png" alt="product">
                </a>
            </div>
            <div class="mt-6">
                <a href="#">
                    Asus ZenFone Go ZB452KG
                </a>
            </div>
        </div>
        <div class="my-4">
            <p class="font-bold text-accentText">$ 384.4</p>
        </div>
    </div>
</div>